	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

	<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
	<script
		src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

	<script>
		// Your web app's Firebase configuration
		var firebaseConfig = {
			apiKey : "키",
			authDomain : "an-test-58f54.firebaseapp.com",
			databaseURL : "https://an-test-58f54.firebaseio.com",
			projectId : "an-test-58f54",
			storageBucket : "an-test-58f54.appspot.com",
			messagingSenderId : "396788581922",
			appId : "1:396788581922:web:da57d0cbf24d6aaa8dec7b",
			measurementId : "G-X13HKP1EPM"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();
	</script>
</body>
</html>