<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>네이버 크롤링</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<h1>네이버 크롤링 하기</h1>
	<hr />
	<form id="frm">
		<input type="text" name="keyword" placeholder="제품명" />
	</form>
	<button onclick="crawNaver()">크롤링 시작</button>

	<script type="text/javascript">
		function crawNaver() {
			let form_el = $("#frm");
			let data = form_el.serialize(); // form 안의 name 속성을 직렬화 한다
			console.log(data);

			fetch(
			"/craw/naver/proc",
			{
				method : "post",
				body : data,
				headers : {
					'Content-Type' : 'application/x-www-form-urlencoded; charset=utf-8'
				}

			},120000).then(function(resp) {
				return resp.text();
			}).then(function(resp) {
				alert(resp);
			}).catch(function(error){
				alert(error);
			})
		}
	</script>
</body>
</html>